<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
    <h1>
        {{title}}
    </h1>

    <div class="progress-bar-group">
        <app-bar
            [id] = "bar.id"
            [index] = "bar.index"
            [percentage] = "bar.percentage"
        *ngFor = "let bar of bars"></app-bar>
    </div>

    <div class="dropdown" *ngIf="bars.length">
        <select [(ngModel)]="selectedBar" (ngModelChange)="onChangeDropdown($event)">
            <option value="-1">Please Select</option>
            <option value="{{bar.index}}" *ngFor="let bar of bars">progress-bar-{{bar.index}}</option>
        </select>
    </div>
    <div class="button-group">
        <app-button
            [text]="button.text"
            (onBtnClicked)="onBtnClick($event)"
            *ngFor = "let button of buttons"
        ></app-button>
    </div>

    <div *ngIf="error" class="error">
        {{error}}
    </div>
</div>
